// Variables used throughout the application

// Colors
$chinese-black: #111;
$old-lace: #fff6e5;

// Fonts & Text
$font-default: 'Barlow Semi Condensed', sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 500;
$text-color-primary: $old-lace;

// Background
$bg-color-primary: $chinese-black;

// Breakpoints
$bp-default-min: 850px;
$bp-default-max: 1200px;
