body {
	background: #111;
	color: #fff6e5;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.2rem;
}

a {
	color: #fff6e5;
	text-decoration: none;
}

nav {
	height: 5rem;
}

nav li {
	float: right;
	margin: 1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 1.5rem;
	text-align: left;
}

tr {
	border-bottom: 1px solid #fff6e5;
}

.active {
	text-decoration: underline;
}

.logo {
	color: #fff6e5;
	float: left;
	font-family: 'Teko', sans-serif;
	font-size: 3rem;
	text-decoration: none;
}
