body {
	background: #111;
	color: #fff6e5;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: #fff6e5;
	text-decoration: none;
}

h1 {
	font-weight: 300;
}

nav {
	height: 5rem;
}

nav li {
	float: right;
	margin: 1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	padding: 1.5rem;
	text-align: left;
}

th {
	font-weight: 500;
}

tr {
	border-bottom: 1px solid #fff6e5;
}

.active {
	border-bottom: 1px solid;
	padding-bottom: 3px;
}

.container {
	margin-inline: auto;
	width: min(1200px, 100% - 3rem);
}

.logo {
	border-bottom: none;
	color: #fff6e5;
	float: left;
	font-family: 'Teko', sans-serif;
	font-size: 3rem;
	text-decoration: none;
}

#root {
	padding: 0 1rem;
}

@media (max-width: 850px) {
	th {
		display: none;
	}

	td {
		display: grid;
		padding: 0.5rem;
	}

	td:first-child {
		padding-top: 2rem;
	}

	td:last-child {
		padding-bottom: 2rem;
	}

	td::before {
		content: attr(data-cell) ': ';
		font-weight: 500;
	}

	tr:first-child {
		border-bottom: 1px solid #fff6e5;
	}
}
